.clock-container {
    font-size:40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20%;
    border: 4px solid black;
    margin: 0 auto;
}

.lunchBreak-disabled {
    display: none;
}

.workTime-disabled {
    display: none;
}

#ms{
    text-align:center;
}
